.App {
  text-align: left;
}

section{
  color: #fff;
  background-color: #282c34;
  width: 90%;
  align-items: center;
  border:2px solid white;
  padding: 10px;
  border-radius: 10px;
}

.App-header {
  background-color: #777277;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
